<h2>{{titulo}}</h2>

{{#if hayProductos}}
<ul>
    {{#each products}}
    <li>
    <strong>{{this.title}}</strong>- ${{this.price}}
    </li>

    {{/each}}
</ul>
{{else}}
<p>no hay productos</p>
{{/if}}